/* font */
*{
  font-family: 'Roboto Condensed', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap');
p{
  font-family: 'Open Sans', sans-serif;
}
.underline{
  border-bottom:#4fbfa8 solid 2px;
}
h1{
  font-size: 3.5rem;
}
.yester{
  /* font-family: 'Yesteryear', cursive; */
  font-family: 'Norican', cursive;
}
.pac{
  font-family: 'Pacifico', cursive;
  position: relative;
  bottom: .4rem;
}

/* navbar */
.logo{
  height: 3rem;
  position: relative;
  bottom: .5rem;

}
.header{
  z-index: 1;
  font-size: 1.2rem;
  width:100vw;
  height: 4rem;
  font-weight: bold;
  /* background: rgba(0,0,0,.5); */
  background: rgb(248, 249, 250);
  box-shadow: rgba(0,0,0,.5) 0 3px 10px 3px;
  color: #4fbfa8;
}


/* intro */
.background-image{
  position: relative;
  top: 4rem;
  background:url(./assets/images/77.jpg) center center no-repeat;
  background-size: cover;
  height: 92vh;
}

.overlay{
color: white;
position: relative;
top: 40vh;
text-align: center;
}

.nav{
  transition: all .2s ease-in;
  color:rgb(33, 37, 41);
}
.nav:hover{
  transition: all .2s ease-in;
  color: #4fbfa8;
}

/* about me */
.about{
  position: relative;
  top: 10rem;
}

.portrait{
  background-image: url(./assets/images/kushol-h.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  border: solid #4fbfa8 6px;
  border-radius: 50%;
  background-position-x: 35%;
}

.circle{
  height: 3rem;
  width: 3rem;
  background-color: rgb(33, 37, 41);
  border-radius: 50%;
  align-items: center;
}
.turq{
  color:#4fbfa8;
}
.icon{
  position: relative;
  top: .75rem;
  font-size:1.5rem;
  transition: ease-in .2s all;

}

.icon:hover{
  transition: all ease-in .2s;
  color:#4fbfa8;

}
a.a-tag{
  text-decoration: none;
}

/* tools */

.push-down{
  position: relative;
  top: 17rem;
}

.big{
  font-size: 6rem;
}

.tools-background{
  background-image: url(./assets/images/l77.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading{
  text-align: center;
  margin-top: 1rem;
}
.white{
  color: white;
}
.box{
  margin: 4rem 0;
}
.bigg{
  font-size:5rem;
}


/* projects */

 .badge-custom-color {
   display: inline-block;
   background-color: rgba(79, 191, 168,.4);
   padding: .25em .4em;
   border-radius: .25rem;
   line-height: 1rem;
   margin: .1rem 0;
 }

  .proj-button{
    background-color: white;
    color: black;
    border: 2px solid #4fbfa8;
    transition: all .15s ease-in;
    border-radius:20px;
  }
  .proj-button:hover{
    background-color: #4fbfa8;
    color: white;
    transition: all .15s ease-in;
    border: 2px solid #4fbfa8;
  }

  .proj-card{
  width: 19rem;
  margin: 1rem;
}

  .card{
    transition: all ease-in .2s;
  }

  .card:hover{
    transition: all ease-in .2s;
    transform: scale(1.05);
  }
  .card1{
    background-image: url(./assets/images/metvik.png);
  }
  .card1:hover{
  background-image: url(./assets/images/metGif.gif);
  }
  .card2{
    background-image: url(./assets/images/whats-for-dinner-thumbnail.png);
  }
  .card2:hover{
  background-image: url(./assets/images/whats-for-dinner.gif);
  }
  .card3{
    background-image: url(./assets/images/worldvik.png);
  }
  .card3:hover{
  background-image: url(./assets/images/worldGif.gif);
  }
  .card-stats{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in all .2s;
    height: 15rem;
  }
  .card-stats:hover{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in all .2s;
    height: 15rem;
  }
 /* skills */

 .skills{
   background-color: rgb(248, 249, 250);
 }


/* footer */

.middle{
  width: 50vw;
}

.contact{
  background-color: rgb(33, 37, 41);
}

.push-down-slight{
  position: relative;
  top: .2rem;
}

/* .white-background{
  background-color: rgb(248, 249, 250);
  transition: ease .2s all;
}

.white-background:hover{
  background-color:#4fbfa8;

  transition: ease .2s all;
}

.contact-icon:{
  transition: ease-in .2s all
}
*/
.contact-icon:hover{
  color: #4fbfa8;
  transition: ease-in .1s all
}

.hover-turq:hover{
  color: #4fbfa8;
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

.portrait{
  background-image: url(./assets/images/kushol-h.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  border: solid #4fbfa8 6px;
  border-radius: 0;
  background-position-x: 42%;
}

.proj-card{
  width: 19rem;
  margin: 1rem;
}
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}
