/* font */
*{
  font-family: 'Roboto Condensed', sans-serif;
}

/* navbar */

.header{
  z-index: 1;
  font-size: 1.2rem;
  width:100vw;
  height: 4rem;
  font-weight: bold;
  /* background: rgba(0,0,0,.5); */
  background: rgb(248, 249, 250);
  box-shadow: rgba(0,0,0,.5) 0 3px 10px 3px;
  color: #4fbfa8;
}


/* intro */
.background-image{
  position: relative;
  top: 4rem;
  background:url(./assets/images/mac-d.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.overlay{
  background-color:#4fbfa8;
}
